@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
trasparent input autofill 
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 999999999999999999999999999999999999999999999999999999999999s ease-in-out 0s; 
 background-color: transparent;
}